.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-banner{
    background: url(../../assets/img/conceitos-de-ecologia.jpg);
    background-repeat: no-repeat;
    
    object-fit: cover;
    height: 550px;
    
}

.navbar-brand{
    font-size: 1.5rem;
}